<!DOCTYPE html>
<html>
	<head>
	    <title>Animate Me</title>
	    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	    <style type="text/css" media="screen"></style> 
	</head>
	<body>