<!DOCTYPE html>
<html>
	<head>
	    <title>Animate Me</title>
	    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	    <link  type="text/css" href="stylesheets/main.css">
	    <style type="text/css" media="screen">
	    </style>
	    <script src="scripts/jquery-2.1.1.min"></script>
	</head>
	<body>