body {
    background-color: #000;
    color: yellow;
    overflow: hidden;
}
html, body, div, canvas {
    margin: 0;
    padding: 0;
}
div.hq-cityplace{
    position:absolute;
}
div.hq-cmgc3{
    position:absolute;
}
div.hq-crof{
    position:absolute;
}
div.hq-daltrans{
    position:absolute;
}
div.hq-dikita{
    position:absolute;
}
div.hq-ed{
    position:absolute;
}
div.hq-ph{
    position:absolute;
}
div.hq-kiewit{
    position:absolute;
}
div.hq-monroe{
    position:absolute;
}
div.hq-nw{
    position:absolute;
}
div.hq-nwrof{
    position:absolute;
}
div.hq-oc{
    position:absolute;
}
div.hq-pio{
    position:absolute;
}
div.hq-planoeast{
    position:absolute;
}
div.hq-rowlett{
    position:absolute;
}
div.hq-senate{
    position:absolute;
}
div.hq-soc{
    position:absolute;
}
div.hq-unionstation{
    position:absolute;
}

div.sdc-cmgc3{
    position:absolute;
}
div.sdc-cityplace{
    position:absolute;
}
div.sdc-crof{
    position:absolute;
}
div.sdc-daltrans{
    position:absolute;
}
div.sdc-dikita{
    position:absolute;
}
div.sdc-ed{
    position:absolute;
}
div.sdc-ph{
    position:absolute;
}
div.sdc-kiewit{
    position:absolute;
}
div.sdc-monroe{
    position:absolute;
}
div.sdc-nw{
    position:absolute;
}
div.sdc-nwrof{
    position:absolute;
}
div.sdc-oc{
    position:absolute;
}
div.sdc-pio{
    position:absolute;
}
div.sdc-planoeast{
    position:absolute;
}
div.sdc-rowlett{
    position:absolute;
}
div.sdc-senate{
    position:absolute;
}
div.sdc-soc{
    position:absolute;
}
div.sdc-unionstation{
    position:absolute;
}

div.hq-sdc{
    position:absolute;
}